body {
	margin: 0;
}

@font-face {
	font-family: "homeFont";
	src: url(/fonts/Restaurant.woff) format("truetype");
}

@font-face {
    font-family: 'Source Sans Pro';
            src: url('/fonts/source-sans-pro/sourcesanspro-light-webfont.eot'); /* IE9 Compat Modes */
            src: url('/fonts/source-sans-pro/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
                 url('/fonts/fonts.svg#source_sans_prolight') format('svg'), /* Legacy iOS and Chrome */
                 url('/fonts/source-sans-pro/sourcesanspro-light-webfont.woff') format('woff'), /* Modern Browsers */
                 url('/fonts/source-sans-pro/sourcesanspro-light-webfont.ttf')  format('truetype'); /* Safari, Android, iOS */
                 
    font-style: normal;
    font-weight: 400;
}

.navBar {
	width: 100%;
	height: 40px;
	display: block;
	color: #999;
	background-color: #1b1b1b;
	font-family: Helvetica;
	margin: 0 auto;
	text-align: center;
	position: fixed;
	z-index: 10;
	overflow-y: hidden;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
}

.navBar.top {
	height: 57px;
}

.navBar .navItem {
	display: inline-block;
	margin-left: 2px;
	margin-right: 2px;
	width: 100px;
	height: 100%;
	font-size: 16px;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
}

.navBar .navItem .navItemText {
	top: 13px;
	position: relative;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
}

.navItem:hover {
	background-color: rgba(255, 0, 0, 0.24)
}

.navItem.selected {
	background-color: #df4244;
	color: rgba(255, 255, 255, 0.89);
}

.navBar.top .navItem {
	font-size: 19px;
}

.navBar.top .navItem .navItemText {
	top: 25px;
}

.wrap .section {
	min-height: 300px;
	padding-bottom: 30px;
	padding-top: 10px;
	/*box-shadow: 2px 2px 2px 2px rgba(136, 136, 136, 0.39);*/
}

.wrap #homeCover {
	position: fixed;
    background: black;
    overflow: hidden;
	height: 560px;
	width: 100%;
	/*background-size: 100%;*/
}

.wrap #homeCover {
	z-index: -1;
}

.wrap #home {
	background-image: url("/images/homeBackground.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 560px;
	position: fixed;
	z-index: -1;
	width: 100%;
	opacity: 0.6;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
	/*background-size: 100%;*/
}

.homeWrapper {
	margin: 0 auto;
	text-align: center;
	color: white;
	font-family: "homeFont";
	padding-top: 250px;
	height: 560px;
}

.homeWrapper #name {
	font-size: 48px;
	font-weight: bold;
	padding-bottom: 10px;
}

.homeWrapper #carrier {
	font-size: 32px;
}

.homeWrapper #arrowDown {
	font-size: 35px;
	margin-top: 120px;
}

.section#projects {
	background-color: #df4244;
	color: white;
}

.section#resume {
	background-color: #f9f9f9;
}

.section#hobbies {
	background-color: #df4244;
	color: white;
	text-align: center;
}

.section#contact {
	background-color: #f9f9f9;
}
.section .sectionTitleWrapper {
	width: 50%;
	border-bottom: 1px solid rgba(194, 170, 170, 0.31);
	margin: 0 auto;
	margin-bottom: 20px;
}

.section .sectionTitle {
	font-size: 28px;
	padding-top: 50px;
	font-weight: bold;
	font-family: 'Pontano Sans', sans-serif;
	text-align: center;
	margin-top: 0px;
}

.projects {
	text-align: center;
}

.project {
	display: inline-block;
	width: 350px;
	height: 200px;
	overflow-x: auto;
	position: relative;
	padding: 20px;
	margin: 10px;
	border-radius: 10px;
	background-color: white;
}

.project img {
	cursor: pointer;
	height: 200px;
	padding-top: 55px;
	padding-bottom: 55px;
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
}

.projectElement {
	position: absolute;
	top: 0px;
	left: 0px;
}

.projectDescriptionWrapper {
	width: 350px;
	height: 200px;
	display: table;
}

.projectDescription {
	vertical-align: middle;
	display: table-cell;
	font-family: Arial,sans-serif;
	font-size: 20px;
	cursor: pointer;
}

.showTransition > .front {
	opacity:1;
	transition:visibility 0s linear 0.5s,opacity 0.5s linear;
}
.showTransition:hover > .front {
	opacity:0;
}

.showTransition > .back {
	opacity:0;
	transition:visibility 0s linear 0.5s,opacity 0.5s linear;
}
.showTransition:hover > .back {
	opacity:1;
}

.opacityTransition {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
}



.resumeWrapper {
	width: 80%;
	margin: 0 auto;
	box-shadow: 2px 2px 12px #444;
	background-color: white;
	font-family: 'Source Sans Pro',sans-serif;
	padding: 30px;
}

.resumeHeader {
	margin-bottom: 18px;
	font-size: 36px;
}

.resumeHeader .name {
	color: rgba(181, 23, 41, 0.97);
}

.resumeHeader h2, .resumeHeader p {
	display: inline-block;
}

.resumeTitle {
	font-size: 24px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	margin-bottom: 20px;
}

.resumeSection {
	margin-bottom: 50px;
}

.resumeSectionHeader {
	margin-bottom: 10px;
}

.resumeSectionHeader p {
	display: inline-block;
	font-size: 22px;
}

.resumeSectionHeader .title {
	color: #444;
}

.resumeSectionHeader .important {
	font-weight: bold;
	color: #111;
}

.resumeSectionHeader .date {
	float: right;
}

.resumeSectionHeader .date p {
	font-size: 16px;
}

.resumeDescriptionWrapper {
	margin-bottom: 25px;
}

.resumeDescriptionWrapper .bulletWrapper {
	display: block;
	padding-left: 10px;
}

.resumeDescriptionWrapper .resumeBullet {
	padding-left: 5px;
}

.resumeDescriptionWrapper .bulletSymbol, .resumeDescriptionWrapper .resumeBullet {
	display: inline-block;
}

.resumeDescriptionWrapper .resumeDescription {
	margin-bottom: 5px;
}

.contactMeOptions {
	text-align: center;
}

.contactMeOption {
	display: inline-block;
	width: 100px;
	height: 100px;
	border: 2px solid #fff;
	border-radius: 100%;
	text-align: center;
	font-size: 40px;
	line-height: 94px;
	background-color: rgba(202, 46, 46, 0.70);
	color: white;
	cursor: pointer;
}

.contactMeOption:hover {
	background-color: #df4244;

}
